nav
{
    background-color: inherit;
    min-height: 50px;
}

nav ul
{
    font-family: Arial, Verdana;
    font-size: 20px;
}

nav ul li
{
    display: block;
    position: relative;
    float: left;
}

nav ul li ul
{
    display: none;
}

nav ul li a
{
    display: block;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    background-color: #061839;
}

nav ul li p
{
    display: block;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    background-color: #061839;
}

nav ul li p:hover
{
    background: #7689A9;
}


nav ul li a:hover
{
    background: #7689A9;
}

nav ul li:hover ul
{
    display: block;
    position: absolute;
}

nav ul li:hover ul li
{
    float: none;
    font-size: 12px;
}